*.swp
*.swo
build/*
test/build/*
.DS_Store
bazel-*
*.pyc
__pycache__/*

############
# GreyDash #
############
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

dist/
