html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.content {
    max-width: 90%;
}

.cards {
    align-items: flex-start;
    align-content: flex-start;
}

.cards .separator {
    height: 32px;
}

/* Charts */

.chartContainer {
    padding: 1% 2.5% 1% 2.5%
}

.responsiveCharts {
    width: 100%;
    height: 125px;
}

.charts {
    width: 58vw;
}

/* Gyro */

#gyro {
    width: 175px;
    height: 175px;
    margin-top: 15px;
}

#gyroDial {
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

#gyroNumber {
    font: 25px Roboto, sans-serif;
    text-anchor: middle;
}

svg * {
    stroke: orange;
    fill: grey;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
